@charset "utf-8";

// this font is OFL licensed thank you very much
@font-face {
    font-family: "Patrick Hand";
    src: url(./PatrickHand-Regular.ttf);
}

$font-src: false;
$header-font: "Patrick Hand";
$body-font: "Patrick Hand";

@import "../node_modules/papercss/src/styles.scss";

html, body {
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
    width: 100%;
}